
NODE_ENV=development
PORT=4000
LOG_LEVEL=debug

REDIS_URL=

DATABASE_URL=

RESEND_API_KEY=
RESEND_FROM_EMAIL=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_FOLDER=
